@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171412; /* charcoal */
  --foreground: #FFF5E8; /* warmIvory */
}

body {
  color: var(--foreground);
  background: var(--background);
}
